## Installing Libraries

In [1]:
!pip install pysmiles

Requirement already satisfied: pysmiles in /usr/local/lib/python3.7/dist-packages (1.0.1)
Requirement already satisfied: networkx~=2.0 in /usr/local/lib/python3.7/dist-packages (from pysmiles) (2.6.3)
Requirement already satisfied: pbr in /usr/local/lib/python3.7/dist-packages (from pysmiles) (5.8.0)

## Importing libraries

In [2]:
import pandas as pd
from pysmiles import read_smiles
import networkx as nx
import matplotlib.pyplot as plt

## Preprocessing QM9 Smiles Dataset

In [3]:
smiles_df = pd.read_csv("OriginalSMILES_QM9.csv")
smiles_df = smiles_df.drop('idx', axis=1)
smiles_df

                     smiles
0                         C
1                         N
2                         O
3                       C#C
4                       C#N
...                     ...
132035  C1C2C3C4C5OC14C5N23
132036  C1N2C3C2C2C4OC12C34
132037  C1N2C3C4C5C2C13CN45
132038  C1N2C3C4C5CC13C2C45
132039  C1N2C3C4C5OC13C2C45

[132040 rows x 1 columns]

## Converting SMILES to Graph Representation

In [4]:
molmatrix = []

for i in range(len(smiles_df)):
  mol = read_smiles(smiles_df['smiles'][i], explicit_hydrogen=True)
  molmatrix.append(nx.to_numpy_matrix(mol))

In [5]:
smiles_df['matrix'] = molmatrix

In [6]:
smiles_df

                     smiles                                             matrix
0                         C  [[[[[0. 1. 1. 1. 1.]]]], [[[[1. 0. 0. 0. 0.]]]...
1                         N  [[[[[0. 1. 1. 1.]]]], [[[[1. 0. 0. 0.]]]], [[[...
2                         O  [[[[[0. 1. 1.]]]], [[[[1. 0. 0.]]]], [[[[1. 0....
3                       C#C  [[[[[0. 1. 1. 0.]]]], [[[[1. 0. 0. 1.]]]], [[[...
4                       C#N  [[[[[0. 1. 1.]]]], [[[[1. 0. 0.]]]], [[[[1. 0....
...                     ...                                                ...
132035  C1C2C3C4C5OC14C5N23  [[[[[0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0....
132036  C1N2C3C2C2C4OC12C34  [[[[[0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 1. 0. 0. 0....
132037  C1N2C3C4C5C2C13CN45  [[[[[0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0....
132038  C1N2C3C4C5CC13C2C45  [[[[[0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0....
132039  C1N2C3C4C5OC13C2C45  [[[[[0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0....

[132040 rows x 2 columns]

In [7]:
smiles_csv_data = smiles_df.to_csv('Graph_QM9.csv', index = True)

In [8]:
# Draws the graph of a particular molecule

# elements = nx.get_node_attributes(mol, name = "element")
# nx.draw(mol, with_labels=True, labels = elements, pos=nx.spring_layout(mol))
# plt.gca().set_aspect('equal')