In [1]:
import glob
import pandas as pd

In [2]:
dataset_list = list()
for inputfile in glob.glob("C:/Users/Diptanshu/Downloads/Chem/xyz - Copy/*.xyz"):
    dataset_list.append(pd.read_table(inputfile, skiprows=2, delim_whitespace=True, names=['atom', 'x', 'y', 'z']))
print(len(dataset_list))

11847

In [3]:
dataset_list[2]

  atom         x         y         z
0    O -0.034360  0.977540  0.007602
1    H  0.064766  0.020572  0.001535
2    H  0.871790  1.300792  0.000693

In [4]:
for idx in range(len(dataset_list)):
    name = "mol_xyz_"+str(idx)+".csv"
    dataset_list[idx].to_csv(name, encoding='utf-8', columns=['atom', 'x', 'y', 'z'])

In [13]:
#idx = 2
#name = "mol_xyz_"+str(idx)+".csv"
#dataset_list[idx].to_csv(name, encoding='utf-8', columns=['atom', 'x', 'y', 'z'])

In [15]:
#df = pd.read_csv('mol_xyz_2.csv')
#df.drop("Unnamed: 0", axis=1)

  atom         x         y         z
0    O -0.034360  0.977540  0.007602
1    H  0.064766  0.020572  0.001535
2    H  0.871790  1.300792  0.000693